.guess {

    color: orange;
    position: relative;
    left: 0;
}

.the {

    color: rgb(6, 120, 173);
    position: relative;
    left: 0;
}

.number {

    color: crimson;
    position: relative;
    left: 0;
    
}

.navbar {

    border-bottom: 2px solid black;

}